body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#add-task-button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

#add-task-button:hover {
    background-color: #218838;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task.complete {
    text-decoration: line-through;
    color: #999;
}

.task .task-text {
    flex: 1;
    font-size: 16px;
}

.task .task-actions {
    display: flex;
    align-items: center;
}

.task .task-actions button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

.task .task-actions button.complete {
    color: #28a745;
}

.task .task-actions button.delete {
    color: #dc3545;
}

.task .task-actions button:hover.comple
